@{
    string[] actions = {"Index", "Cpp", "Three", "CppThreejs", "About"};
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Site.css")" />
</head>
<body>
    <ul>
        @foreach (var action in actions)
				    {
            @if (action == currentAction)
            {
                <li class="active">@Html.ActionLink(action, action, "Home")</li>
            }
            else
            {
                <li>@Html.ActionLink(action, action, "Home")</li>
            }
        }
    </ul>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <p>© @DateTime.Now.Year - Abhinav Gangula</p>
    </footer>
</body>
</html>
