<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Site.css")" />
</head>
<body>
    <ul>
        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Cpp", "Cpp", "Home")</li>
        <li>@Html.ActionLink("Three", "Three", "Home")</li>
        <li>@Html.ActionLink("CppThreejs", "CppThreejs", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <p>© @DateTime.Now.Year - Abhinav Gangula</p>
    </footer>
</body>
</html>
