<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
</head>
<body>
    <header>
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home", new { @class = "active" })
            @Html.ActionLink("Cpp", "Cpp", "Home")
            @Html.ActionLink("Three", "Three", "Home")
            @Html.ActionLink("About", "About", "Home")
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <p>© @DateTime.Now.Year - Abhinav Gangula</p>
    </footer>
</body>
</html>